/*style.css*/

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
    font-family: "Fredoka", sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.field {
    margin-bottom: 15px;
    text-align: left;
}

.field label {
    font-size: 16px;
    color: #555;
}

.field input[type="text"] {
    width: calc(100% - 40px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.field input[type="text"]:focus {
    border-color: #888;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #218838;
}

#result h3 {
    color: #333;
    font-size: 18px;
    margin-top: 20px;
}

#result p {
    color: #555;
    font-size: 16px;
}
